.pending-homepage {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #E3E3E3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 25px;
}

.homepage-block {
  background-color: #8e9299;
  color: white;
  margin: 10px 45px 10px 45px;
  padding: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.pending-details {
  font-weight: 900;
}
.homepage-block:hover {
  background-color: #4d4f51;
}